body {
    background-color: #0D0805;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.grid {
    display: grid;
}

.grid-2-columns {
    grid-template-columns: 1fr 2fr;
}

.grid-3-columns-even {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-3-columns {
    grid-template-columns: 1fr 2fr 2fr;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)),
    url('../images/gwen-king-m3th3rIQ9-w-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    margin: 0 auto;    
}

header h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #FBEAB0;; 
    font-size: 80px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

header h2 {
    color: rgb(241, 216, 151);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 5px;
    margin: 0;
}

header h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #FBEAB0;
    background-color: black;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0px 560px;
    margin-top: 270px;
}

header a {
    color: rgb(241, 216, 151);
    text-decoration: none;
    background-color: #FB0041;
    font-weight: bold;
    line-height: 1.5;
    padding: 8px 16px;
}

header a:hover {
    color: black;
}

main h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:rgb(241, 216, 151);
    font-size: 35px;
    line-height: 1.5;
    text-align: center;
    margin: 0 20px;
}

main h3 {
    color: black;
    font-size: small;
    text-decoration: none;
    background-color: #FB0041;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 5px;
    line-height: 1;
    padding: 6px 8px;
    margin: 0px;
    text-align: center;
}
main h4 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:rgb(241, 216, 151);
    font-size: 25px;
    margin: 0 auto;
}

main p {
    color:lightgrey;
    text-align: left;
    line-height: 1.5;
}

main img {
    max-width: 460px;
}

.card {
    margin: 15px 10px;
}

.card p {
    color:lightgrey;
    text-align: left;
    line-height: 1.5;
}

.cities {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: black;
    background-color: #FB0041;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    padding: 8px 16px;
}

.theaters {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: black;
    background-color: #FB0041;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 700;
    padding: 8px 16px;
}

.theaters:hover {
    color: #FBEAB0;
}

iframe {
    display: block;
    margin: 0 auto;
}
       
footer {
    text-align: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)),
    url('../images/alev-takil-ZeNciLLPQas-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0;
}

footer h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #FBEAB0;
    background-color: black;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 5px;
}

footer a {
    color: rgb(241, 216, 151);
    font-size: small;
    text-decoration: none;
    background-color: #FB0041;
    opacity: 0.8;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
    letter-spacing: 5px;
    line-height: 2.5;
    padding: 4px 8px;
}

footer a:hover {
    color: black;
}

footer p {
    color:grey;
    background-color: black;
    text-align: left;
    line-height: 2;
}

footer ul{
    padding: 0;
}

footer li {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

@media (max-width: 960px)  {
    
    section {
        max-width: 85%;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 10px;
        line-height: 11;
    }

    header h3 {
        font-size: 15px;
        margin: 0px 120px;
        margin-top: 120px;
        line-height: 1.5;
    }

    header a {
        padding: 4px 8px;
        font-weight: bolder;
    }
    
    main h3 {
        line-height: 1.5;
    }

    p {
        font-size: small;
    }

    main img {
        display: none;
    }

   #gallery {
        display: none;
    }
   
}
