.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-image: url('../images/gwen-king-m3th3rIQ9-w-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 260px 0;
}

header h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color:#FB0041; 
    font-size: 80px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

header h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: rgb(241, 216, 151);
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 5px;
    margin: 0;
}

header h3 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    color: #FBEAB0;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0;
}
       
footer {
    text-align: center;
}

a {
    color: rgb(241, 216, 151);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #FB0041;
}